<div cdkDropList class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mat-h1-color h1">Trattoria 1</h1>
    <div class="d-flex flex-row ">
      <mat-card cdkDrag appearance="outlined" class="p-2 m-2">
        <mat-card-content>4 PAX</mat-card-content>
        <mat-card-content>Mesa 1</mat-card-content>    
      </mat-card>
      <mat-card cdkDrag appearance="outlined" class="p-2 m-2">
        <mat-card-content>4 PAX</mat-card-content>
        <mat-card-content>Mesa 2</mat-card-content>
      </mat-card>
    </div>
  </div>