<div class="d-flex flex-column gap-3">
  @if (filteredSection(); as section) {
    <div class="d-flex flex-column gap-4">
      @for (sectionItem of section; track sectionItem.id) {
        @for (divisor of sectionItem.divisors; track divisor.id) {
          <div class="border border-light p-2 rounded">
            @for (row of divisor.rows; track row.id) {
              <div
                cdkDropList
                [cdkDropListData]="row.tables"
                (cdkDropListDropped)="drop($event)"
                class="d-flex flex-row gap-2 mb-1 p-1"
              >
                @for (table of row.tables; track table.id) {
                  <app-table
                    [table]="table"
                    cdkDrag
                  ></app-table>
                }
              </div>
            }
          </div>
        }
      }
    </div>
  }
</div>