.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--mat-sys-primary-container);
}

.h1-color {
    color: var(--mat-sys-on-primary-container);
}