.main {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    background: var(--mat-sys-background);
    color: var(--mat-sys-on-surface-variant);
    height: 100vh;
}

.mat-h1-color {
    color: var(--mat-sys-on-primary-container);
}
