.mat-mdc-card-content:first-child {
    padding-top: 6px;
}

mat-card {
    color: var(--mat-sys-on-surface-variant);
}

.available {
    background-color: var(--mat-sys-primary-container);
}

.busy {
    background-color: var(--mat-sys-inverse-on-surface);
}

.vertical {
    width: 100px;
    height: 150px;
    margin: 0 25px 0 25px;
}

.horizontal {
    width: 150px;
    height: 100px;
    margin: 25px 0 25px 0;
}